.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: $u-margin-bottom-big !important;
}

.u-margin-bottom-medium {
  margin-bottom: $u-margin-bottom-medium !important;
}

.u-margin-bottom-small {
  margin-bottom: $u-margin-bottom-small !important;
}
